:root {
  --title-color: #212121;
  --text-color: #757575;
  --front-color: #2196f3;
}
/*general styles*/
body {
  color: var(--text-color);
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
}
.link-condition:hover,
.link-condition:focus {
  color: var(--front-color);
}
.color-blue {
  color: var(--front-color); /* logo styles*/
}
.color-black {
  color: var(--title-color); /* logo styles*/
}
.color-grey {
  color: var(--text-color);
}
/*header styles*/
.web-studio-top {
  font-family: 'Raleway', sans-serif; /* logo styles*/
  font-size: 26px;
  line-height: 1.2em;
  font-weight: bold;
}
.nav-list-top {
  list-style-type: none; /*navigation list styles*/
  line-height: 1.15em;
  letter-spacing: 0.02em;
}
.address-link-top {
  font-style: normal;
  line-height: 1.15em;
  color: var(--text-color);
}

/*main content styles*/
/*studio*/
.list-main {
  list-style-type: none;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color); /*will be changed*/
}
.order-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: var(--front-color); /*will be changed*/
}
.secondary-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.employee-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.employee-specializacion {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*portfolio*/
.filter-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  list-style-type: none;
}
.progects-list {
  list-style-type: none;
}
.progects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.progects-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*footer styles*/
.web-studio-bot {
  font-family: 'Raleway', sans-serif; /* logo styles*/
  font-size: 22px;
  line-height: 1.2em;
  font-weight: bold;
}
.map-address-bot {
  font-style: normal;
  line-height: 1.7em;
  color: var(--front-color); /*will be changed*/
}
.address-link-bot {
  font-style: normal;
  line-height: 1.7em;
}
.social-list-bot {
  list-style-type: none;
}
.title-bot {
  font-style: normal;
  font-weight: bold;
  line-height: 1.15em;
  text-transform: uppercase;
  color: var(--front-color); /*will be changed*/
}
.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2em;
}
